.main{
  margin-left: 20px;
  margin-top: 50px;
}
h2{
  color: rgb(31, 122, 135);
  
}
.error{
  background-color: #D3D3D3 ;
  padding: 0.5rem 1rem;
  color: rgb(1, 102, 1);
  border-color:  rgb(1, 102, 1);
  border: solid;
  border-radius: 5px;
  margin-bottom: 2rem;
}
input{
  margin-left: 20px;
  padding: 0.2rem 1rem;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
}
button{
  background-color: rgb(31, 122, 135);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  vertical-align: middle;
margin-left: 10px;
}